{% extends 'myapp/base.html' %}
{% block content %}
{% load static %}
<header class="masthead">
  <div class="container h-100">
    <div class="row justify-content-center">
      <p class="text-white font-weight-light mb-5" style="margin-top: 15px">Mentions légales :</p>
    </div>  
    <p class="text-white font-weight-light mb-5">
      Ce site web a été réalisé par Jérémie Verdet domicilié au 7 rue du chêne vert 95540 Méry sur Oise.<br />

      Numéro de téléphone : 01 34 21 58 92.<br />

      Le site est hébergé par <a href="https://www.heroku.com/">Heroku</a>.<br />
    </p>
  </div>
</header>
{% endblock %}